---

---


<a href="#" class="btn"> <img src="../assets/images/icon-arrow.svg" alt="arrow"></a> 

<style>
  a {
				display: flex;
				align-items: center;
				justify-content: center;
				background: var(--Purple-clr);
				border-radius: 50%;
				padding: 0.5rem;
				width: 120px;
				height: 60px;
				cursor: pointer;
			}

      @media(min-width: 900px){
        a {
					width: 90px;
					height: 80px;
				}
      }
</style>