---

---


<section class="result">
  <p> <span >--</span> years</p>
  <p> <span >--</span> months</p>
  <p> <span >--</span> days</p>
</section>


<style>
  	section {
				font-size: 3rem;
				font-weight: bold;
				font-style: italic;
			}

			section span {
				color: var(--Purple-clr)
			}

      @media(min-width: 800px){

            section {
              font-size: 5rem;
              }
            }
</style>